body{
 background-color:#92bde7;

}

.container{
  margin-top: 100px;
   margin-bottom:100px;

}
.card-body{
      background-color:#c9e6ff;
      opacity: 1.0;
      font-family:Snell Roundhand, cursive;
      font-size:30px;
}
#footer{
    background-color:#403d2f;
}

#button{
    margin: auto;
  display: block;
  width: 180px;
  border-style:groove;
  border-radius: 4px;
  font-size:15px;
}
#two{
    font-size:20px;
}